{% extends 'layouts/base.html.twig' %}

{% block title %}{{ site_title }}{% endblock %}

{% block content %}

  <div class="main-container">
    <br/>

	<div class="ui two column centered grid">
	  	<div class="column">
	  		<div class="ui red segment">
				<div class="ui statistics">
		  			<div class="statistic">
			    		<div class="value">
			      			<i class="rocket icon"></i> 5
			    		</div>
		    			<div class="label">
		      				{{ "Statistics"|trans }}
		    			</div>
		  			</div>
				  	<div class="statistic">
					    <div class="value">
					      	<i class="rocket icon"></i> 5
					    </div>
				    	<div class="label">
				      		{{ "Statistics"|trans }}
				    	</div>
				  	</div>
				  	<div class="statistic">
					    <div class="value">
					      	<i class="rocket icon"></i> 5
					    </div>
				    	<div class="label">
				      		{{ "Statistics"|trans }}
				    	</div>
				  	</div>
				  	<div class="statistic">
					    <div class="value">
					      	<i class="rocket icon"></i> 5
					    </div>
				    	<div class="label">
				      		{{ "Statistics"|trans }}
				    	</div>
				  	</div>

				</div>
	  		</div>
	  	</div>
	</div>
    <br/>
  </div>

{% endblock %}