{% extends 'layouts/base.html.twig' %}

{% block title %}{{ site_title }}{% endblock %}

{% block content %}

    <div class="main-container">
        <br/>
        <div class="ui two column centered grid">
            <div class="column">
                <div class="ui horizontal divider">{{ "New Server"|trans }}</div>
                <div class="ui teal segment">
                    <form class="ui form" id="server_add_form" method="post" action="{{ url('api_v1_server_controller_create_action') }}">
                        <div class="field">
                            <label>{{ "Name"|trans }}</label>
                            <input type="text" name="name" required="required">
                        </div>
                        <div class="field">
                            <label>{{ "Brand"|trans }}</label>
                            <input type="text" name="brand" required="required">
                        </div>
                        <div class="field">
                            <label>{{ "Asset Id"|trans }}</label>
                            <input type="text" name="asset_id" required="required">
                        </div>
                        <div class="field">
                            <label>{{ "Price"|trans }}</label>
                            <input type="text" name="price" required="required">
                        </div>
                        <div style="text-align: center">
                            <button class="ui button" type="reset">{{ "Reset"|trans }}</button>
                            <button class="ui secondary button" type="submit">{{ "Submit"|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br/>
    </div>

{% endblock %}