{% extends 'layouts/base.html.twig' %}

{% block title %}{{ site_title }}{% endblock %}

{% block content %}

  <div class="main-container" style="text-align: center">
    <br/>
    <div class="ui equal width grid">
        <div class="column">
            <h3 class="ui icon header">
                <i class="rocket icon"></i>
                {{ "Feature"|trans }}
            </h3>
            <p>
                {{ "Lorem Ipsum is simply dummy text of the printing and typesetting industry."|trans }}
            </p>
            <a href="#" class="tiny ui secondary button">{{ "Know More"|trans }}</a>
        </div>
        <div class="column">
            <h3 class="ui icon header">
                <i class="rocket icon"></i>
                {{ "Feature"|trans }}
            </h3>
            <p>
                {{ "Lorem Ipsum is simply dummy text of the printing and typesetting industry."|trans }}
            </p>
            <a href="#" class="tiny ui secondary button">{{ "Know More"|trans }}</a>
        </div>
        <div class="column">
            <h3 class="ui icon header">
                <i class="rocket icon"></i>
                {{ "Feature"|trans }}
            </h3>
            <p>
              {{ "Lorem Ipsum is simply dummy text of the printing and typesetting industry."|trans }}
            </p>
            <a href="#" class="tiny ui secondary button">{{ "Know More"|trans }}</a>
        </div>
    </div>
    <br/><br/><br/>
    <div class="ui equal width grid">
        <div class="column">
            <h3 class="ui icon header">
                <i class="rocket chart icon"></i>
                {{ "Feature"|trans }}
            </h3>
            <p>
                {{ "Lorem Ipsum is simply dummy text of the printing and typesetting industry."|trans }}
            </p>
            <a href="#" class="tiny ui secondary button">{{ "Know More"|trans }}</a>
        </div>
        <div class="column">
            <h3 class="ui icon header">
                <i class="rocket icon"></i>
                {{ "Feature"|trans }}
            </h3>
            <p>
                {{ "Lorem Ipsum is simply dummy text of the printing and typesetting industry."|trans }}
            </p>
            <a href="#" class="tiny ui secondary button">{{ "Know More"|trans }}</a>
        </div>
        <div class="column">
            <h3 class="ui icon header">
                <i class="rocket icon"></i>
                {{ "Feature"|trans }}
            </h3>
            <p>
              {{ "Lorem Ipsum is simply dummy text of the printing and typesetting industry."|trans }}
            </p>
            <a href="#" class="tiny ui secondary button">{{ "Know More"|trans }}</a>
        </div>
    </div>
    <br/>
  </div>

{% endblock %}